devpi_process==1.0.2
dust_extinction==1.5
fastparquet==2024.11.0
fastremap==1.15.2
ipykernel==6.29.5
pyarrow==20.0.0
pyfftw==0.15.0           #needed for sfft, and pip+arm does not work
pytest-doctestplus==1.4.0
pytest-timestamper==0.0.10
pytest==8.3.5
remote-pdb==2.1.0
scikit-image==0.25.2
sep==1.4.1
setuptools_scm==8.3.1
skyCatalogs==2.0.1
tox==4.25.0
zope.event==5.1     #dependency hell: latest zope.event (from gevent) wants setuptools>=75.8.2, galsim wants <72

# This is an nvidia thing that phrosty uses for profiling
nvtx==0.2.11

# roman-sci platform packages and preqrequisites
pandeia.engine==2025.3
romancal==0.20.2
romanisim==0.10.0
s3fs==2025.3.2
stips==2.2.2
stsynphot==1.4.0
webbpsf==2.0.0
xarray==2025.3.1

# snpit packages
# (Preqreqs of these will pull in other standard things like numpy, scipy, roman-datamodels.)
roman-snpit-snappl==0.16.0

# The next few are GUI/interactive things, so perhaps don't belong
# in the Dockerfile.  For now, they've been moved to be explicitly
# listed in the pip section of sn_pit_dev.yaml
# bokeh==3.7.2
# jdaviz==4.2.1
